
<div *ngIf="dataFromChild">
    <label style="color: steelblue;"> Pass Data From Child Componenet to Parent : </label>
    <span style="color: chocolate;">
    {{ dataFromChild?.name }} 
    </span>
</div>


<div *ngFor="let employee of employees">
  <app-display-employee [employee]="employee" 
                        (notify)="handleNotify($event)">
  </app-display-employee>
</div>

<!--
<button (click)="nextEmployee()" class="btn btn-primary btn-sm">Next Employee</button>
<br />
<br />
<app-display-employee [employee]="employeeToDispaly"></app-display-employee>
-->
